################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Api/appsettings.json
/Api/bin/Debug/net6.0/appsettings.json
